:root{
    font-size: 15px;
    font-family:  Helvetica,Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    margin: 0;
}
.header{
    background: #FFE600;
    width: 100%;
    height: 75px;
    padding: 0.75rem 0.5rem;
    border-bottom: 3px solid black;
}
.main-title{
    font-size: 2rem;
}
.task-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.task{
    width: 100%;
    max-width: 40rem;
    height: 10rem;
    padding: 1rem;
    background-color: #ffe60030;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tags{

}
@media screen AND (min-width:600px) {
    .task{
        
    }
}
