@import url(font-awesome.min.css);

:root{
    font-size: 15px;
    font-family:  Helvetica,Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    width: 100%;
    margin: 0;
    position: relative;
   padding-top: 76px;
   
}

.header{
    background: #FFE600;
    width: 100%;
    height: 75px;
    padding: 0.75rem 0.5rem;
    border-bottom: 3px solid black;
    position: absolute;
    z-index: 50;
    top:0;
}
.main-title{
    font-size: 2rem;
}
.task-list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.task{
    width: 100%;
    max-width: 40rem;
    height: 10rem;
    padding: 1rem;
    background-color: #ffe60030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkbox{
    border-radius:50% ;
}
.add-task{
    
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    color: #FFE600;
    font-size: 1.5rem;
}
.add-link{
    width: 100%;
    height: 100%;
}
.task-form{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    padding: 1rem 0;
}
.form-element{
    display: flex;
    flex-direction:column ;
    justify-content: space-around;
    /* align-items: flex-start; */
    width: 100%;
    max-width: 60rem;
}
.btn{
    padding:1rem 3rem ;
    background-color: black;
    border: none;
    border-radius:0.6rem ;
    color: #FFE600;
    font-size: 1.5rem;
    font-weight: 700;
    text-align:center;
}
.input{
    display: block;
    height:2rem ;
}
.manage-section{
    width: 4rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.208);
}
.icon{
    display: block;
    font-size: 1rem;
    color: black;

}
@media screen AND (min-width:600px) {
}